# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.sln.docstates
*.sln.ide
*.sln.user
*.suo
*.cache
*.idea/

# Build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# SQL
*.mdf
*.ldf